<section id="about">
  <div class="container">
      <div class="row">
          <div class="row__boxheading">
              <h2 class="row__boxheading-heading">About</h2>
              <h3 class="row__boxheading-subheading">Timeline describing the process happened until current time and milestones achieved.</h3>
          </div>
      </div>
      <div class="row">
          <div class="row__boxtimeline">
              <ul class="timeline">
                  <li>
                      <div class="timeline-image imageHolder">
                          <img class="img-circle img-responsive" src="../../../../assets/icons/bird-in-broken-egg.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>September -2018</h4>
                              <h4 class="subheading">Monrovia Entrepreneurs Network (MEN) submit a water project request to EWB-nl</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image imageHolder">
                          <img class="img-circle img-responsive" src="../../../../assets/icons/connection.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>October -2018 / April -2019</h4>
                              <h4 class="subheading">Communication excahnge between EWB water team and local partner</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-image imageHolder">
                          <img class="img-circle img-responsive" src="../../../../assets/icons/yes.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>April -2019</h4>
                              <h4 class="subheading">Project proposal is presented to EWB-nl management and approved</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image imageHolder">
                          <img class="img-circle img-responsive" src="../../../../assets/icons/pen.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Augost -2019</h4>
                              <h4 class="subheading">Project definition is polihed</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                          </div>
                      </div>
                  </li>
                  <li>
                    <div class="timeline-image imageHolder">
                        <img class="img-circle img-responsive" src="../../../../assets/icons/heavy-vehicle.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2020</h4>
                            <h4 class="subheading">First tasks are udertaken on site</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image bepart" (click)="onClickScroll('contact')" href="#">
                          <h4 class="bepart-title">Be Part
                              <br>Of Our
                              <br>Story!</h4>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
