<div class="container" *ngFor="let photo of photos; let i = index">
  <div class="container__photo" id="'photo_' + i" (click)="openModal(photo.src)">
      <div class="container__photo-hover">
        <div class="container__photo-text">Click & See</div>
      </div>
      <img class="container__photo-src" src="assets/photos/community/{{photo.src}}" alt="photo">
  </div>
  <div class="container__details">
      <h4 class="container__details-title">{{photo.title}}</h4>
      <p class="container__details-subtitle">{{photo.subtitle}}</p>
  </div>
</div>

