<div class="project">
  <div class="project__header">
    <p class="project__header-title">Garza project</p>
  </div>
  <div class="project__body">
    <div class="project__body-col1">
      <a class="project__body-section" (click)="onClickScroll('about')" href="#about">About</a>
      <a class="project__body-section" (click)="onClickScroll('community')" href="#community">Community</a>
      <a class="project__body-section" (click)="onClickScroll('guidelines')" href="#guidelines">Guidelines</a>
      <a class="project__body-section" (click)="onClickScroll('team')" href="#team">Team</a>
    </div>
    <div class="project__body-col2">
      <a class="project__body-section" (click)="onClickScroll('gallery')" href="#gallery">Gallery</a>
      <a class="project__body-section" (click)="onClickScroll('partnership')" href="#partnership">Partnership</a>
      <a class="project__body-section" (click)="onClickScroll('location')" href="#location">Location</a>
      <a class="project__body-section" (click)="onClickScroll('contact')" href="#contact">Contact</a>
    </div>
  </div>
</div>
