<div class="project">
  <div class="project__header">
    <p class="project__header-title">Garza project</p>
  </div>
  <div class="project__body">
    <div class="project__body-col1">
      <a class="project__body-section" href="">About</a>
      <a class="project__body-section" href="">Community</a>
      <a class="project__body-section" href="">Guidelines</a>
      <a class="project__body-section" href="">Team</a>
    </div>
    <div class="project__body-col2">
      <a class="project__body-section" href="">Gallery</a>
      <a class="project__body-section" href="">Partnership</a>
      <a class="project__body-section" href="">Location</a>
      <a class="project__body-section" href="">Contact</a>
    </div>
  </div>
</div>
