@import 'global/variables';
@import 'mixins/mixins';

.guidelines {
  display: block;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey-400;
    color: $bg-color;
    font-family: $font-extrabold;
    padding: 20px 0px 100px 0px;

  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 40px;

    @media screen and (max-width: 950px) {
      display: block;
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 10px;
    }
    &-title {
      display: block;
      font-size: rem(30px);
      text-transform: uppercase;
    }
    &-desc {
      display: block;
      font-size: rem(20px);
      font-family: $font-light;
      text-align: center;
      margin-top: 10px;
    }
  }

  &__secondaries {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 20px;

    @media screen and (min-width: 950px) {
      flex-direction: row;
      align-items: center;
      width: 90vw;
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 10px;

      @media screen and (min-width: 950px) {
        padding: 10px 40px;
      }
    }
    &-title {
      display: block;
      font-size: rem(22px);
      @media screen and (min-width: 950px) {
        padding: 5px 20px;
      }
    }
    &-desc {
      display: block;
      font-size: rem(20px);
      font-family: $font-light;
      text-align: center;

      padding: 10px 0px 10px 0px;
      @media screen and (min-width: 950px) {
        padding: 5px 20px;
      }
    }
  }
}

