@import 'global/variables';
@import 'mixins/mixins';

.guidelines {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;

    &__main {
      //@include flex(flex-end, center);
      color: black;

      &-box {

      }
    }

    &__secondaries {
      color: red;

      &-box {

      }
    }

  }
}

