<section id="guidelines">
  <div class="container">
      <div class="">
          <div class="">
              <h2 class="">Guidelines</h2>
              <h3 class="">3 pilars of the project</h3>
          </div>
      </div>
      <div class="">
          <div class="">
              <span class="">
                  <i class=""></i>
                  <i class=""></i>
              </span>
              <h4 class="">Here is a pokok</h4>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="">
              <span class="">
                  <i class=""></i>
                  <i class="glyphicon glyphicon-heart"></i>
              </span>
              <h4 class="">Here's a heart</h4>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
              <span class="">
                  <i class=""></i>
                  <i class=""></i>
              </span>
              <h4 class="">Waterfall maybe?</h4>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      </div>
  </div>
</section>
