<section id="guidelines">
  <div class="guidelines__container">
      <div class="guidelines__main">
          <div class="guidelines__main-box">
              <h2 class="guidelines__main-title">Guidelines</h2>
              <h3 class="guidelines__main-desc">3 pilars of the project</h3>
          </div>
      </div>
      <div class="guidelines__secondaries">
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Clean water & sanitation</h4>
              <p class="guidelines__secondaries-desc">Sustainable management of water resources and access to safe water and sanitation are essential for unlocking economic growth and productivity, and provide significant leverage for existing investments in health and education.</p>
          </div>
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Colaboration</h4>
              <p class="guidelines__secondaries-desc">The support to the Local Water and Sanitation commite coupled with local partnership comes within a series of activities delivered through Local Partner and EWB.</p>
          </div>
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Local empowerment</h4>
              <p class="guidelines__secondaries-desc">The project focuses on local capacity building and the rehabilitation of infrastructure to reduce water-related diseases; contribute to a stronger economy by increasing productivity; and, contribute to stability by allowing communities to enjoy the benefits of peace.</p>
          </div>
      </div>
  </div>
</section>
