<section id="guidelines">
  <div class="guidelines__container">
      <div class="guidelines__main">
          <div class="guidelines__main-box">
              <h2 class="guidelines__main-title">Guidelines</h2>
              <h3 class="guidelines__main-desc">3 pilars of the project</h3>
          </div>
      </div>
      <div class="guidelines__secondaries">
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Here is a pokok</h4>
              <p class="guidelines__secondaries-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Here's a heart</h4>
              <p class="guidelines__secondaries-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="guidelines__secondaries-box">
              <span class="">
                  <i class=""></i>
              </span>
              <h4 class="guidelines__secondaries-title">Waterfall maybe?</h4>
              <p class="guidelines__secondaries-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      </div>
  </div>
</section>
