@import 'global/variables';
@import 'mixins/mixins';

ul {
  display: block;
  width: 100%;
  height: 100%;
  margin: .3rem .7rem;
  padding: 2rem 1rem;
}

li {
   background-color: $base;
   color: $primary;
   padding: 0.5rem;
   cursor: pointer;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   border-left: 4px solid $ewb-color;
   @media(min-width:1024px) {
    font-size: larger;
  }
}

li:hover {
  color: $ewb-color;
  border-left: 4px solid $ol-color;
}

li.active {
  background: $hover;
  line-height: 1;
  margin: 0px -5px;
  border-radius: 1px;

}
