<section id="contact">
  <div class="container">
      <div class="row">
          <div class="row__header">
              <h2 class="row__header-heading">Contact Us</h2>
              <h3 class="row__header-subheading">Do you think you can contriute in any way? Don´t hesitate. Get in touch!</h3>
          </div>
      </div>
      <div class="row2">
          <div class="row2__contactform">
              <form class="row2__contactform-form" name="sentMessage" id="contactForm" novalidate="">
                  <div class="row2__contactform-row">
                    <div class="row2__contactform-block1">
                      <div class="row2__contactform-subblock1-container">
                        <div class="row2__contactform-subblock1">
                          <div class="form-group">
                              <input type="text" class="form-group__control" placeholder="Your Name *" id="name" required="" data-validation-required-message="Please enter your name.">
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-group__control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address.">
                          </div>
                          <div class="form-group">
                            <input type="org" class="form-group__control" placeholder="Your Organization *" id="organization" required="" data-validation-required-message="Please enter your organization.">
                          </div>
                        </div>
                      </div>
                      <div class="row2__contactform-subblock2">
                        <div class="form-group">
                            <textarea class="form-group__control form-group__controlTextarea" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row2__contactform-block2">
                      <button type="submit" class="btn">Send Message</button>
                    </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
