<div>
  <app-navbar></app-navbar>
  <app-scrollmark></app-scrollmark>
  <app-header></app-header>
  <app-guidelines id="guidelines"></app-guidelines>
  <app-about id="about"></app-about>
  <app-community id="community"></app-community>
  <app-galleria id="gallery"></app-galleria>
  <app-team id="team"></app-team>
  <app-mapsection id="location"></app-mapsection>
  <app-parthership id="partnership"></app-parthership>
  <app-contact id="community"></app-contact>
  <app-footergrid id="contact"></app-footergrid>
</div>
