@import 'global/variables';
@import 'mixins/mixins';

.container {
  display: grid;
  grid-template-areas:
    "ewb"
    "project"
    "authority"
  ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  overflow: hidden;

  background-color: $ewb-color;
  color: $base;
  font-family: $font-bold;
}
