@import 'global/variables';
@import 'mixins/mixins';


.authority {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: rem(18px);
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  text-align: center;
  @media(min-width: 767px) {
    margin-top: 75px;
    align-items: flex-end;
    padding-right: rem(25px);

  }
  @media(min-width: 1024px) {
    padding-right: rem(90px);
  }
  &__awesome {

  }
  &__webmaps {

  }
  &__copyright {
    margin-top: 15px;
    color: $grey-400;
    opacity: 0.7;
    font-size: rem(12px);
    @media(min-width: 1024px) {
      font-size: rem(14px);
    }
  }
  &__link {
    color: $base;
    font-size: rem(10px);
    @media(min-width: 1024px) {
      font-size: rem(12px);
    }
  }
  &__link:hover {
    color: $hover;
    opacity: 1;
  }

}
