<nav class="navbar">
  <input type="checkbox"  class="openMenu" id="openMenu">
  <label for="openMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
  </label>
  <div class="container" id="container">
    <a class="authorLink" href="https://twitter.com/elanio_herrador">Website author</a>
    <div id="menu" class="menu">
      <div class="main-content-wrapper">
        <a class="link-nav" (click)="onClickScroll('guidelines')" href="#guidelines">Guidelines</a>
        <a class="link-nav" (click)="onClickScroll('about')" href="#about">About</a>
        <a class="link-nav" (click)="onClickScroll('community')" href="#communitys">Community</a>
        <a class="link-nav" (click)="onClickScroll('gallery')" href="#gallery">Gallery</a>
        <a class="link-nav" (click)="onClickScroll('team')" href="#team">Team</a>
        <a class="link-nav" (click)="onClickScroll('location')" href="#location">Location</a>
        <a class="link-nav" (click)="onClickScroll('partnership')" href="#partnership">Partership</a>
        <a class="link-nav" (click)="onClickScroll('contact')" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
