<nav class="navbar">
  <input type="checkbox"  class="openMenu" id="openMenu">
  <label for="openMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
  </label>
  <!-- <a class="link" href="https://twitter.com/elanio_herrador">Website author</a> -->
  <div id="menu">
    <div class="main-content-wrapper">
      <a href="#guidelines">Guidelines</a>
      <a href="#location">Location</a>
      <a href="#about">About</a>
      <a href="#team">Team</a>
      <a href="#community">Community</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
</nav>
