<nav class="navbar">
  <input type="checkbox"  class="openMenu" id="openMenu" [(ngModel)]="isCheck">
  <label for="openMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
  </label>
  <div class="container" id="container">
    <a class="authorLink" href="https://twitter.com/elanio_herrador">Website author</a>
    <div id="menu" class="menu">
      <div class="main-content-wrapper">
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('guidelines')" href="#">Guidelines</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('about')" href="#">About</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('community')" href="#">Community</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('gallery')" href="#">Gallery</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('team')" href="#">Team</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('location')" href="#">Location</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('partnership')" href="#">Partership</a>
        <a class="link-nav" (click)="checkBtn($event)" (click)="onClickScroll('contact')" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
