<footer class="footer">
  <div class="gencontainer">
    <div class="container">
      <div class="blockband">
        <div class="logo">
          <a class="logo__link" href="https://www.ewbnl.org/">
            <img class="logo__png" src="../../../../assets/photos/logos-organizations/EwB-logo-white-small.png" alt="" width="40px" height="43px">
          </a>
        </div>
        <div class="socialmedia">
          <a href="https://twitter.com/EWB_NL" class="socialmedia__link"><i class="fa fa-twitter-square"></i></a>
          <a href="https://www.linkedin.com/company/ewb-nl/" class="socialmedia__link"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://www.facebook.com/EWBNL/" class="socialmedia__link"><i class="fa fa-facebook-square"></i></a>
        </div>
      </div>
      <div class="project">
        <div class="project__header">
          <p class="project__header-title">Garza project</p>
        </div>
        <div class="project__body">
          <div class="project__body-col1">
            <a class="project__body-section" href="">About</a>
            <a class="project__body-section" href="">Community</a>
            <a class="project__body-section" href="">Guidelines</a>
            <a class="project__body-section" href="">Team</a>
          </div>
          <div class="project__body-col2">
            <a class="project__body-section" href="">Gallery</a>
            <a class="project__body-section" href="">Partnership</a>
            <a class="project__body-section" href="">Location</a>
            <a class="project__body-section" href="">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="authority">
      <p class="authority__awsome">Social icons by Font Awesome v4.7.0</p>
      <p class="authority__webmaps">Maps powered by XX</p>
      <p class="authority__copyright">Copyright {{varYear}} <a class="authority__link" href="https://twitter.com/elanio_herrador" target="_blank"
        title="authortwitter">@elanio_herrador</a> & MEN</p>
    </div>
  </div>

</footer>
