@import 'global/variables';
@import 'mixins/mixins';


.gencontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $ewb-color;
  color: $base;
  font-family: $font-bold;
}

.container {

  @media(min-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 350px;
  }
}

.logo {
  cursor: pointer;
  padding-top: 50px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__link {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  &__png {
    height: 70px;
    width: 130px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;

  &__link {
    font-size: 25px;
  }
}
.fa {
  margin: 0px 7px;
}
.fa-twitter-square {
  color: $base;
}
.fa-linkedin-square {
  color: $base;
}
.fa-facebook-square {
  color: $base;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-extrabold;
  font-size: rem(20px);
  padding-bottom: rem(25px);
  // @media(min-width: 767px) {
  //   flex-direction: row;

  // }


  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &-title {
      padding-bottom: 8px;
    }

  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(min-width: 767px) {
      flex-direction: row;
    }
    &-col1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-col2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-section {
      font-family: $font-light;
      font-size: rem(20px);
      color: $base;
      display: inline-block;
      padding: 3px 0px;
    }
  }



}

.authority {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: rem(18px);
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  &__awesome {

  }
  &__webmaps {

  }
  &__copyright {
    margin-top: 15px;
    color: $grey-400;
    opacity: 0.7;
    font-size: rem(16px);
  }
  &__link {
    color: $base;
  }
  &__link:hover {
    color: $hover;
    opacity: 1;
  }

}
