<footer class="footer">
  <div class="logo">
    <a class="logo__link" href="https://www.ewbnl.org/">
      <img class="logo__logo-png" src="../../../../assets/photos/logos-organizations/EwB-logo-blue-white.png" alt="" width="40px" height="43px">
    </a>
  </div>
  <div class="socialmedia">EWB-NL

  </div>
  <div class="project">
    <a class="project__section" href="">About</a>
    <a class="project__section" href="">Community</a>
    <a class="project__section" href="">Guidelines</a>
    <a class="project__section" href="">Team</a>
    <a class="project__section" href="">Gallery</a>
    <a class="project__section" href="">Partnership</a>
    <a class="project__section" href="">Location</a>
    <a class="project__section" href="">Contact</a>
  </div>
  <div class="authority">
    <p class="authority__awsome">Social icons by Font Awsome / CC BY 4.0</p>
    <p class="authority__webmaps">Maps components powered by XX</p>
    <p class="authority__copyright">Copyright {{varYear}} <a href="https://twitter.com/elanio_herrador" target="_blank"
      title="authortwitter">@elanio_herrador →</a> & MEN<br>All rights reserved</p>
  </div>
</footer>
