@import 'global/variables';
@import 'mixins/mixins';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $ewb-color;
  color: $base;
  font-family: $font-bold;
}

.logo {
  cursor: pointer;
  padding: 25px 0px;


  &__link {
  }
  &__png {
    height: 50px;
    width: 100px;
  }

}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;


}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.authority {

}
