<footer class="footer">
  <div class="container">
    <div class="logo">
      <a class="logo__link" href="https://www.ewbnl.org/">
        <img class="logo__png" src="../../../../assets/photos/logos-organizations/EwB-logo-white-small.png" alt="" width="40px" height="43px">
      </a>
    </div>
    <div class="socialmedia">
      <a href="https://twitter.com/EWB_NL" class="socialmedia__link"><i class="fa fa-twitter-square"></i></a>
      <a href="https://www.linkedin.com/company/ewb-nl/" class="socialmedia__link"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://www.facebook.com/EWBNL/" class="socialmedia__link"><i class="fa fa-facebook-square"></i></a>
    </div>
    <div class="project">
      <p class="project__title">Garza project</p>
      <a class="project__section" href="">About</a>
      <a class="project__section" href="">Community</a>
      <a class="project__section" href="">Guidelines</a>
      <a class="project__section" href="">Team</a>
      <a class="project__section" href="">Gallery</a>
      <a class="project__section" href="">Partnership</a>
      <a class="project__section" href="">Location</a>
      <a class="project__section" href="">Contact</a>
    </div>
    <div class="authority">
      <p class="authority__awsome">Social icons by Font Awesome v4.7.0</p>
      <p class="authority__webmaps">Maps powered by XX</p>
      <p class="authority__copyright">Copyright {{varYear}} <a class="authority__link" href="https://twitter.com/elanio_herrador" target="_blank"
        title="authortwitter">@elanio_herrador</a> & MEN</p>
    </div>
  </div>

</footer>
