@import 'global/variables';
@import 'mixins/mixins';

#mapsection {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base;
  color: $grey-400;
  font-family: $font-extrabold;
  padding: 0px 0px 50px 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  &__header {

    display: block;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    text-align: center;

    padding: 80px 40px;


    &-heading {
      display: block;
      font-size: rem(30px);
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 15px;

      line-height: 1.2;
    }
    &-subheading {
      display: block;
      margin-top: 10px;
      margin-bottom: 75px;
      text-transform: none;
      font-family: $font-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: rem(20px);
    }
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 10px;

  &__btn {

    &-btn {
      text-transform: none;
      border: 1px solid $base;
    }
    &-btn:hover {
      color: $ewb-color;
      background-color: $base;
      border: 1px solid $ewb-color;
    }


  }

  &__btnExplore{
    padding: 10px 0px;
  }
  &__map {
    width: 300px;
    height: 350px;
    max-width: 90%;
    margin-top: rem(25px);
    margin-bottom: rem(25px);
    @media(min-width:767px) {
      width: 500px;
      height: 550px;
    }
    @media(min-width:1024px) {
      width: 900px;
      height: 700px;
    }
  }

}
