<section id="mapsection">
  <div class="container">
      <div class="row">
          <div class="row__header">
              <h2 class="row__header-heading">Location</h2>
              <h3 class="row__header-subheading">Garza, a border town between Montserrado and Margibi counties, Liberia.</h3>
          </div>
      </div>
      <div class="location">
        <div class="location__btn">
          <button class="btn location__btn-btn" (click)="flyToGarza()">Navigate</button>
        </div>
        <div id="map" class="location__map"></div>
        <div class="location__btn indicator">
          <div class="loading indicator__item" routerLink="/map">
            <div class="indicator">
                <button class="specialbtn btn location__btn-btn indicator__item loadinglayer">Explore the project</button>
                <div class="loadinglayer second"></div>
                <div class="loadinglayer third"></div>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>
