@import 'global/variables';
@import 'mixins/mixins';

.blockband {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media(min-width: 767px) {
    align-items: flex-end;
    padding-right: rem(25px);
  }
  @media(min-width: 1024px) {
    padding-right: rem(80px);
  }
}
.logo {
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__link {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  &__png {
    height: 70px;
    width: 130px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    @media(min-width: 1024px) {
      height: 70px;
      width: 150px;
    }
  }

}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;

  &__link {
    font-size: 25px;
  }
}

