@import 'global/variables';
@import 'mixins/mixins';

$breakpoint-alpha: 480px;

.card {
  background-color: $base;
  &__header {
    padding: 15px 2px;
    font-family: $font-bold;
    font-size: rem(16px);
    color: $grey-300;
  }
  &__body {
    display: flex;
  }
}
.rwd-table {
  margin: 1em 0;
  tr {
    border-top: 1px solid $ewb-color;
    border-bottom: 1px solid $ewb-color;
  }
  th {
    display: none;
  }
  td {
    display: block;
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
    &:before {
      //content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      width: 6.5em;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }


}

.rwd-table {
  color: $grey-300;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten($ewb-color, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  th, td:before {
    color: $hover;
  }
}
