<div *ngIf="feature" class='card'>
  <div class='card__header'>
    {{ feature.properties.id }}
  </div>
  <div class="card__body">
    <div [ngSwitch]="sortOfDataset">
      <div *ngSwitchCase="'water-e'">Water exisiting point
        <table class="rwd-table">
          <tr>
            <th>Question</th>
            <th>Surveyed</th>
          </tr>
          <tr>
            <td class="surveryQuestion">Type of</td>
            <td>{{ feature.properties.kind }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Used currently?</td>
            <td>{{ feature.properties.isused }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Main use</td>
            <td>{{ feature.properties.use }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Construction year</td>
            <td>{{ feature.properties.year }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Assesment</td>
            <td>{{ feature.properties.assesment }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Quality test required</td>
            <td>{{ feature.properties.qualitytest }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Fee for use</td>
            <td>{{ feature.properties.fee }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Nº householders using it</td>
            <td>{{ feature.properties.householders }}</td>
          </tr>
        </table>
      </div>
      <div *ngSwitchCase="'water-p'">Water desired point
        <table class="rwd-table">
          <tr>
            <th>Question</th>
            <th>Surveyed</th>
          </tr>
          <tr>
            <td class="surveryQuestion">Type of</td>
            <td>{{ feature.properties.kind }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Main use</td>
            <td>{{ feature.properties.use }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Nº householders would benefit</td>
            <td>{{ feature.properties.householders }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Covered when floods</td>
            <td>{{ feature.properties.coveredwhenfloods }}</td>
          </tr>
        </table>
      </div>
      <div *ngSwitchCase="'sanitation-e'">Sanitation exisiting point
        <table class="rwd-table">
          <tr>
            <th>Question</th>
            <th>Surveyed</th>
          </tr>
          <tr>
            <td class="surveryQuestion">Type of</td>
            <td>{{ feature.properties.kind }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Filled out</td>
            <td>{{ feature.properties.filledout }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">In use</td>
            <td>{{ feature.properties.inuse }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Stuck/blocked</td>
            <td>{{ feature.properties.stuckblocked }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Is protected</td>
            <td>{{ feature.properties.isprotected }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Construction year</td>
            <td>{{ feature.properties.year }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Covered when floods</td>
            <td>{{ feature.properties.coveredwhenfloods }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Fee for use</td>
            <td>{{ feature.properties.fee }}</td>
          </tr>
        </table>
      </div>
      <div *ngSwitchCase="'sanitation-p'">Sanitation desired point
        <table class="rwd-table">
          <tr>
            <th>Question</th>
            <th>Surveyed</th>
          </tr>
          <tr>
            <td class="surveryQuestion">Type of</td>
            <td>{{ feature.properties.kind }}</td>
          </tr>
          <tr>
            <td class="surveryQuestion">Would replace old one</td>
            <td>{{ feature.properties.replacement }}</td>
          </tr>
        </table>
      </div>
      <div *ngSwitchDefault>
        <table class="rwd-table">
          <tr>
            <th>Movie Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Gross</th>
          </tr>
          <tr>
            <td data-th="Movie Title">Star Wars</td>
            <td data-th="Genre">Adventure, Sci-fi</td>
            <td data-th="Year">1977</td>
            <td data-th="Gross">$460,935,665</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
