@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Chewy');
// ------------------------------------
// GLOBAL
// ------------------------------------

@import "./sass/global/variables";
@import "./sass/global/reset";
@import "./sass/global/base";
@import "./sass/global/fontawesome";

// ------------------------------------
// COMPONENTS
// ------------------------------------
@import "./sass/ui/btn";

// ------------------------------------
// MIXINS
// ------------------------------------

@import "./sass/mixins/mixins";



// ------------------------------------
// FONTS
// ------------------------------------
//@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: FuturaPTBook;
  src: url(./assets/fonts/FuturaPTBook.woff) format("woff");
}
@font-face {
  font-family: FuturaPTDemi;
  src: url(./assets/fonts/FuturaPTDemi.woff) format("woff");
}
@font-face {
  font-family: FuturaPTLight;
  src: url(./assets/fonts/FuturaPTLight.woff) format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
  border-radius: 3px;
  background-color: $grey;
  color: $grey-400;
  overflow: auto;
  scroll-behavior: smooth;
}
.cdk-overlay-container {
  //background-color: $ewb-color;
}
.cdk-overlay-backdrop {
  //background-color: #fff;
}
.cdk-global-overlay-wrapper {
  background-color: #fff;
}

.ol-attribution {
  font-size: 8px;
  font-family: $font-light;
  @media(min-width:767px) {
    font-size: 14px;
  }
}
.ol-zoom .ol-zoom-in {
  background-color: $ewb-color;
  width: 20px;
  height: 20px;
  @media(min-width:767px) {
    width: 25px;
    height: 25px;
  }
}
.ol-zoom .ol-zoom-out {
  background-color: $ewb-color;
  width: 20px;
  height: 20px;
  @media(min-width:767px) {
    width: 25px;
    height: 25px;
  }
}
