@import 'global/variables';
@import 'mixins/mixins';

.mapcanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
.ol-zoom .ol-zoom-in {
  position: relative;
  top: 15px;
  right: 15px;
}
.ol-zoom .ol-zoom-out {
  position: relative;
  top: 15px;
  right: 15px;
}
