<div class="modal">
  <div class="modal__content">
      <div class="modal__close" (click)="closeModal()">
        <div class="modal__close-fake">
        </div>
        <div class="btn-outer">
          <div class="btn-outer__inner">
            <label class="btn-outer__label">Back</label>
          </div>
        </div>
      </div>
      <div class="modal__container">
          <div class="modal__block">
            <div class="modal__body">
              <h2 class="modal__body-title">{{targetedPhoto.title}}</h2>
              <p class="modal__body-shrotdesc">{{targetedPhoto.desc}}</p>
              <img class="modal__body-img" src="assets/photos/community/{{targetedPhoto.src}}" alt="">
              <p class="modal__body-desc1">{{targetedPhoto.desc}}
              </p>
              <p class="modal__body-desc2">{{targetedPhoto.comments}}
              </p>
              <ul class="modal__list">
                  <li class="modal__list-item">{{targetedPhoto.date}}</li>
                  <li class="modal__list-item">{{targetedPhoto.category}}</li>
              </ul>
              <button class="btn-close" (click)="closeModal()">Back</button>
            </div>
          </div>
      </div>
  </div>
</div>
