@import 'global/variables';
@import 'mixins/mixins';

.modal {
  &__content {

  }
  &__close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-fake {
      width: 15px;
      height: 20px;
    }
  }
  &__container {

  }
  &__block {

  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $font-bold;

    &-title {
      display: block;
      font-size: rem(25px);
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 15px;
      line-height: 1.2;
    }
    &-shrotdesc {
      display: block;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: rem(18px);
      text-align: center;

      @media(min-width: 767px) {
        font-size: rem(20px);
      }
    }
    &-img {
      height: auto;
      width: 100%;
      object-fit:cover;
    }
    &-desc1 {
      display: block;
      padding: 15px 10px;
      text-align: justify;
    }
    &-desc2 {
      display: block;
      padding: 10px 10px;
      text-align: justify;
    }

  }
  &__list {

  }
}


