@import 'global/variables';
@import 'mixins/mixins';

.modal {
  &__content {

  }
  &__close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-fake {
      width: 15px;
      height: 20px;
    }
  }
  &__container {

  }
  &__block {

  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $font-bold;

    &-title {
      display: block;
      font-size: rem(25px);
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 15px;
      line-height: 1.2;
    }
    &-shrotdesc {
      display: block;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: rem(18px);
      text-align: center;

      @media(min-width: 767px) {
        font-size: rem(20px);
      }
    }
    &-img {
      height: auto;
      width: 100%;
      object-fit:cover;
    }
    &-desc1 {
      display: block;
      padding: 15px 10px;
      text-align: justify;
    }
    &-desc2 {
      display: block;
      padding: 10px 10px;
      text-align: justify;
    }

  }
  &__list {

  }
}

//codepen close button, https://codepen.io/perry_nt/pen/NxobOm
.outer {
  position: relative;
  width: 20px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .5em;
  line-height: 4em;
  text-transform: uppercase;
  color: $grey-400;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #FFC107;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}


@media(min-width: 767px) {
  .outer {
    width: 40px;
  }
  label {
    font-size: .6em;
  }
}
@media(min-width: 1024px) {
  .outer {
    width: 70px;
  }
  label {
    font-size: .8em;
  }
}
