@import "global/variables";
@import "mixins/mixins";
.btn {
  color: $base;
  background-color: $ewb-color;
  border-color: #1ee2e7;
  text-transform: uppercase;
  font-family: $font-bold;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  padding: 17px 18px;
  border-radius: rem(13px);
  cursor: pointer;
  outline: none;

  @media screen and (min-width: 767px) {
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1024px) {

  }
}


.btn-outer {
  position: relative;
  width: 20px;
  cursor: pointer;

  &__inner {
    width: inherit;
    text-align: center;
  }
  &__inner:before, &__inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #FFC107;
    left: 0;
    transition: all .3s ease-in;
  }
  &__inner:before {
    top: 50%;
    transform: rotate(45deg);
  }
  &__inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
  }
  &__label {
    font-size: .5em;
    line-height: 4em;
    text-transform: uppercase;
    color: $grey-400;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
    @media(min-width: 767px) {
      font-size: .6em;
    }
    @media(min-width: 1024px) {
      font-size: .8em;
    }
  }
  &:hover label {
    opacity: 1;
  }
  &:hover &__inner:before, &:hover &__inner:after {
    transform: rotate(0);
  }
  &:hover &__inner:before {
    top: 0;
  }
  &:hover &__inner:after {
    bottom: 0;
  }
  @media(min-width: 767px) {
    width: 40px;
  }
  @media(min-width: 1024px) {
    width: 70px;
  }
}

.btn-close {
  position: relative;
  border-left: none;
  border-right: none;
  border-color: #FFC107;
  background-color: $grey;
  color: $grey-400;

  font-size: 0.8rem;
  line-height: 3em;
  text-transform: uppercase;
  cursor: pointer;

  margin-top: 1rem;
}



